<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/Selenium_Practice_Programs">
        <classes>
            <class name="com.MrunalSolanki.Oepn_Browser.FireFoxBrowser">
            <methods>
                <include name="test_verify_browser"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>